.discovery-search-panel {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.discovery-table-row {
  color: white;
}

//.discovery-column span {
//  color: white !important;
//}

.discovery-instance-form {
  background-color: var(--page-background);
  padding: 0px;
  margin-bottom: 10px;
  width: 800px;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}
