#antd {
  .discovery-search-panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .discovery-table-row {
    color: white;
  }

  .discovery-instance-form {
    background-color: var(--page-background);
    padding: 0px;
    margin-bottom: 10px;
    width: 800px;
  }

  .spinner-wrapper {
    display: flex;
    justify-content: center;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
