root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[*.vue]
indent_size = 2
tab_width = 2

[{*.ats,*.ts}]
max_line_length = 140

[{*.cjs,*.js}]
indent_size = 2
tab_width = 2

[{*.go,*.go2}]
indent_style = tab

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_size = 2
