.query-analytics-filters-wrapper {
  border: 1px solid rgb(40, 40, 40);
  max-height: 350px;
  overflow-y: scroll;
}

.filter-label {
  display: grid;
  grid-template-areas: 'filtername percentagearea';
  grid-template-rows: 30px;
  grid-template-columns: 200px 50px;
  grid-gap: 10px;
  height: auto;
  //height: 600px;
  margin: 0;
}

.filter-name {
  grid-area: filtername;
}

.percentage {
  grid-area: percentagearea;
}
