.boom-table {
    .mini-split {
        margin-right: 10px;
    }
    .split {
        margin-right: 20px;
    }
    .boom-btn {
        padding: 10px;
        margin-right: 10px;
        min-width: 200px;
        text-transform: lowercase;
    }
    h6.text-header {
        padding: 0 0 10px 0;
        font-weight: bolder;
        i {
            font-weight: 100;
        }
    }
}

.boom-table .debug {
    margin-top: 30px;
}

.boom-table .boom-label {
    padding-left: 10px;
}

.boom-table .debug table tr {
    border: 2px solid red;
}

.boom-table .inline-form-control {
    display: inline-block;
    margin: 10px 20px 10px 0px;
    padding: 5px;
}

.boom-table .btn-small {
    margin-left: 20px;
}

.boom-table .btn-small .fa {
    margin-right: 5px;
}