# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts,tsx,py}]
charset = utf-8

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

# Indentation override for all JS, TS under pmm-app directory
[pmm-app/src/**.{js,ts,tsx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[pmm-app/tests/**.js]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[dashboards/*.json]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[{package.json,docker-compose.yml}]
indent_style = space
indent_size = 2
