.idea
.vscode
.DS_Store

# development
.env/
node_modules
docker-compose.*.y*ml

# PMM-specific
dashboards/PMM_Demo.json
/export-dash.py
/import-dash.py
pmm-app.tar.gz
pmm-app/dist/
pmm-app/coverage/
pmm-app/video/
pmm-app/pr.browsers.json
pmm-app/tests/output/
srv
