{
  "extends": ["@grafana/eslint-config", "plugin:react/recommended", "airbnb"],
  "env": {
    "jest/globals": true
  },
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "plugins": ["react-hooks", "jest"],
  "rules": {
    "no-restricted-imports": 0,
    "react/jsx-curly-brace-presence": ["error"],
    "react/jsx-boolean-value": ["error"],
    "react/prop-types": [0],
    "react/display-name": [0],
    "quotes": ["error", "single"],
    "max-len": ["error", { "code": 110 }],
    "import/extensions": [0],
    "react/jsx-filename-extension": [0],
    "prettier/prettier": [0]
  }
}
