{
  "extends": ["@grafana/eslint-config", "plugin:react/recommended"],
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-restricted-imports": 0,
    "react/jsx-curly-brace-presence": ["error"],
    "react/jsx-boolean-value": ["error"],
    "react/prop-types": [0],
    "react/display-name": [0],
    "quotes": ["error", "single"],
    "max-len": ["error", { "code": 110 }]
  }
}
