{
  "chrome": {
    "default": "80.0",
    "versions": {
      "80.0": {
        "image": "selenoid/vnc_chrome:80.0",
        "port": "4444",
        "tmpfs": {"/tmp":"size=1024m"},
        "shmSize" : 1073741824,
        "hosts" : [ "pmm-server:%PMM_SRV_ADDR%" ]
      }
    }
  }
}
