version: '3'
services:
  codecept:
    image: codeception/codeceptjs
    container_name: codecept
    environment:
      - RUN_MULTIPLE=true
      - CODECEPT_ARGS=parallel --steps --debug --grep '(?=.*)^(?!.*@visual-test)'
    volumes:
      - './:/tests/'
    links:
      - 'selenoid'
    extra_hosts:
      - pmm-server:${PMM_SRV_ADDR}
    depends_on:
      - selenoid
    network_mode: bridge

  selenoid:
    image: aerokube/selenoid
    container_name: selenoid_server
    volumes:
      - './:/etc/selenoid'
      - '/var/run/docker.sock:/var/run/docker.sock'
      - './video:/opt/selenoid/video'
      - './logs:/opt/selenoid/logs'
    environment:
      - OVERRIDE_VIDEO_OUTPUT_DIR=${PWD}/video
    command: ['-conf', '/etc/selenoid/browsers.json', '-video-output-dir', '/opt/selenoid/video']
    ports:
      - '4444:4444'
    extra_hosts:
      - pmm-server:${PMM_SRV_ADDR}
    network_mode: bridge

