.query-analytics-details-grid {
  background-color: #161719;
  display: grid;
  grid-template-areas:
    'details-tabs';
  grid-template-rows: auto;
  grid-template-columns: auto;
  min-height: 60px;
  height: auto;
  margin: 0;

  .ant-table-body {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.query-id {
  grid-area: query-id;
}

.details-tabs {
  grid-area: details-tabs;
  margin-top: 10px;
}
