.query-analytics-details-grid {
  background-color: #0b0c0e;
  display: grid;
  grid-template-areas:
    'details-tabs';
  grid-template-rows: auto;
  grid-template-columns: auto;
  min-height: 60px;
  height: auto;
  margin: 0;

  .ant-table-body {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .ant-collapse-header {
    background-color: #202226 !important;
  }

  .ant-collapse-content-active {
    background-color: #0b0c0e !important;
    border: 2px solid #202226;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.query-id {
  grid-area: query-id;
}

.details-tabs {
  grid-area: details-tabs;
  margin-top: 10px;
}
