:root {
  .panel-wrapper {
    .panel-container {
      background-color: var(--page-background);
    }
  }

  #antd.check-panel {
    ul.bullet-list {
      margin-bottom: 0px;
    }

    .anticon-info-circle {
      color: var(--main-highlight-color);
    }
  }
}
