.filter-label {
  display: grid;
  grid-template-areas: 'filtername percentagearea';
  grid-template-rows: 30px;
  grid-template-columns: 160px auto;
  grid-gap: 10px;
  height: auto;
  margin: 0;
}

.filter-name {
  grid-area: filtername;
}

.percentage {
  grid-area: percentagearea;
  display: flex;
  justify-content: flex-end;
}
