.query-analytics-filters-wrapper {
  border: 1px solid rgb(40, 40, 40);
  padding: 5px 10px;
  max-height: 650px;
  overflow-y: scroll;
}

.filter-label {
  display: grid;
  grid-template-areas: 'filtername percentagearea';
  grid-template-rows: 30px;
  grid-template-columns: 160px auto;
  grid-gap: 10px;
  height: auto;
  margin: 0;
}

.filter-name {
  grid-area: filtername;
}

.percentage {
  grid-area: percentagearea;
  display: flex;
  justify-content: flex-end;
}

.filter-switchers {
  color: #989898;
  text-decoration: underline;
}

.filter-switchers:hover {
  color: white;
}

.filters-header {
  display: flex;
  align-items: flex-end;
}
