.query-analytics-filters-wrapper {
  border: 1px solid rgb(40, 40, 40);
  padding: 5px 10px;
  max-height: 650px;
  overflow-y: scroll;
}
//
//.filter-switchers {
//  color: #989898;
//  text-decoration: underline;
//}
//
//.filter-switchers:hover {
//  color: white;
//}

.filters-header {
  display: flex;
  align-items: flex-end;
}
