.badge {
  --badge-size: 18px;
  --color: inherit;
  --bg-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--badge-size);
  height: var(--badge-size);
  margin-left: 1px;
  margin-bottom: 15px;

  color: var(--color);
  font-size: 9px;
  line-height: 0;
  border-radius: 50%;
  background-color: var(--bg-color);
}
