.load-sparklines {
  height: 15px;
  /* width: inherit; */
  width: auto;
  font: 5px sans-serif;
  cursor: crosshair;
}

.scaling-svg-container {
  position: relative;
  //width: 130px;
  height: 30px;
  padding: 0;
}

.scaling-svg-container--full-width {
  max-width: 100%;
}

.scaling-svg {
  cursor: crosshair;
  //position: absolute;
  //height: 100%;
  //width: 100%;
  //left: 0;
  //top: 0;
}

.line {
  fill: none;
  stroke: #d9721f;
  stroke-width: 1px;
}

.x-axis {
  fill: none;
  stroke: #d9721f;
  stroke-width: 1px;
  stroke-opacity: 0.1;
}

.circle {
  fill: white;
  stroke: #d9721f;
  stroke-width: 1px;
}

.area {
  fill: #d9721f;
  stroke: none;
  opacity: 0.1;
}

.zeroline {
  fill: none;
  stroke: red;
  stroke-width: 0.5px;
  stroke-dasharray: 5 5;
}

.zerolinetext {
  fill: red;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.focusLine {
  fill: none;
  stroke: #d9721f;
  stroke-width: 0.5px;
}

.focusCircle {
  //fill: #D9721F;
  fill: white;
}

/* --------------------- */

.latency-chart {
  width: 150px;
  height: 19px;
  font: 5px sans-serif;
}

.latency-chart-x {
  stroke: #aaa;
  stroke-width: 1px;
}

.latency-chart-line {
  stroke: #d9721f;
  fill: #d9721f;
  stroke-width: 2px;
}

.latency-chart-min {
  stroke: #d9721f;
  fill: #d9721f;
  stroke-width: 2px;
}

.latency-chart-max {
  stroke: #d9721f;
  fill: #d9721f;
  stroke-width: 2px;
}

.latency-chart-avg {
  fill: white;
  stroke: #d9721f;
  stroke-width: 1px;
}

.latency-chart-p95 {
  fill: red;
  stroke: red;
  stroke-width: 1px;
}

.latency-text-min {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.latency-text-max {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.latency-popup {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.latency-popup > li {
  padding-left: 6px;
}

li.li-min:before {
  content: '⌜';
  padding-right: 8px;
  color: #d9721f;
}

li.li-med:before {
  content: '-';
  padding-right: 8px;
  color: #d9721f;
}

li.li-avg:before {
  content: '◦';
  padding-right: 8px;
  color: #d9721f;
}

li.li-p95:before {
  content: '•';
  padding-right: 8px;
  color: red;
}

li.li-max:before {
  content: '⌟';
  padding-right: 8px;
  color: #d9721f;
}

dfn {
  border-bottom: 1px dashed #c0c0c0;
  cursor: help;
}

dfn::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 8.2em;
  font-size: 0.7em;
  padding: 1px 5px;
  white-space: pre;
  display: none;
  color: black;
  background: #f0f0f0;
  box-shadow: 1px 1px 1px 1px #afafaf;
  border-radius: 1px;
  transition: opacity 0.1s ease-out;
  z-index: 99;
  text-align: left;
}

dfn:hover::before {
  display: inline-block;
}
