.input-field {
  width: 100%;
  padding: 0 var(--input-lr-inner-indent);
  color: inherit;
  border: 1px solid var(--main-border-color);
  background-color: transparent;
}

.input-field::placeholder {
  font-style: italic;
  color: rgb(145, 145, 145);
}

.input-field:active,
.input-field:focus {
  outline: none;
}

.input-field--dark {
  background-color: var(--page-background);
}

.input--invalid {
  border-color: rgb(255, 0, 0);
}

.input-field--interval,
.input-field--select {
  height: 40px;
  padding: var(--input-lr-inner-indent);
}

.input-field--interval {
  width: 80px;
}

.input-field--select {
  width: 200px;
}
