.query_link:hover {
  position: fixed;
  background: aliceblue;
}

.truncate {
  width: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert-float {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  z-index: 1050;
}

.load-float {
  position: fixed;
  top: 40%;
  left: 48%;
  width: 50%;
  z-index: 1050;
}

div.popover {
  max-width: 600px;
}

.smart-query-abstract {
  width: 14em;
  white-space: nowrap;
}

.smart-id {
  width: 3em;
}

.smart-latency-time {
  width: 3em;
}
