.overlay-container:hover {
  --overflow-state: visible;
  height: 100%;
}

.overlay-container,
.overlay-container__item {
  overflow: var(--overflow-state, hidden);
  background-color: inherit;
}

.overlay-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.overlay-container__item {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid transparent;
}

.overlay-container:hover .overlay-container__item {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 5px;
  border: 1px solid;
  text-overflow: initial;
}
