.pmm-tooltip {
  --tooltip-background: rgb(50, 116, 217);
}

.pmm-tooltip.bs-tooltip-bottom .arrow {
  left: 15px;
}

.pmm-tooltip.show {
  opacity: 1;
}

.pmm-tooltip .tooltip-inner {
  max-width: 100%;
}

.pmm-tooltip .tooltip-inner {
  background-color: var(--tooltip-background);
}

.pmm-tooltip .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: var(--tooltip-background);
  border-bottom-color: var(--tooltip-background);
}
