.search {
  --input-width-smal: 300px;
  --input-top-indent: 0.375rem;
  --input-right-indent: 0.75rem;

  position: relative;
  display: flex;
  border: 1px solid var(--main-border-color);
}

.search--no-border {
  border: none;
  background-color: var(--page-background);
}

.search__input {
  width: 100%;
  padding: var(--input-top-indent, 0) var(--input-right-indent, var(--input-lr-inner-indent));
  border: none;
}

.search__input--small {
  width: var(--input-width-smal);
}

.search__button {
  cursor: pointer;
  padding: var(--input-top-indent) var(--input-right-indent) var(--input-top-indent) 0;
  color: inherit;
  border: none;
  background-color: transparent;
}
