
.ng-select.pmm-select {
  --background-select: rgb(20, 20, 20);

  min-height: 0;
  min-width: 150px;
  font-weight: 100;
  border: 0;
  border-radius: 0;

  &.ng-select-disabled {
    cursor: not-allowed;

    .ng-select-container {
      cursor: inherit;

      .ng-arrow-wrapper {
        cursor: inherit;
      }

      .ng-value-container .ng-input input {
        cursor: not-allowed;
      }
    }
  }

  &.ng-select-focused .ng-select-container {
    border-color: var(--main-border-color);
    box-shadow: none;
  }

  .ng-select-container {
    color: inherit;
    border: 1px solid var(--main-border-color);
    background-color: transparent;
  }

  .ng-dropdown-panel {
    width: auto;
    border: none;
    background-color: transparent;

    .ng-dropdown-panel-items .ng-option {
      color: inherit;
      background-color: var(--highlight-background);

      &.ng-option-marked {
        background-color: rgb(35, 35, 35);
      }
    }
  }
}

.chips {
  display: flex;
  align-items: center;
  width: auto;
}

