.switcher {
  --transition-sec: .4s;
  --switcher-width: 230px;
  --swithcer-height: 40px;
  --switcher-bg: var(--main-button-background);

  position: relative;
  width: var(--switcher-width);
  height: var(--swithcer-height);
  margin-bottom: 0;
  overflow: hidden;
  border: 1px solid var(--main-border-color);
}

.switcher:after,
.switcher__checkbox{
  display: none;
}

.switcher__slider {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: var(--transition-sec);
}

.switcher__slider:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 50%;
  background-color: var(--switcher-bg);
  transition: var(--transition-sec);
  z-index: -1;
}

.switcher__option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

input[type="checkbox"]:checked + .switcher__slider:before {
  transform: translateX(calc(var(--switcher-width) / 2));
}
