.pmm-tabset {
  --checked-tab-color: rgb(0, 108, 255);

  .nav.nav-tabs {
    display: flex;
    margin-bottom: var(--main-bottom-indent);
    margin-right: var(--lr-menu-indent);
    border-bottom: 1px solid #000;
  }

  .nav.nav-tabs .nav-item {
    width: 50%;
    height: 35px;
  }

  .nav.nav-tabs .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 0;

    color: inherit;
    font-weight: 600;
    border: none;
  }

  .nav.nav-tabs .nav-item .nav-link.disabled {
    opacity: 0.3;
  }

  .nav.nav-tabs .nav-item .nav-link.disabled:hover {
    cursor: not-allowed;
    color: inherit;
  }

  .nav.nav-tabs .nav-item .nav-link:hover {
    color: var(--checked-tab-color);
    border: none;
  }

  .nav.nav-tabs .nav-item .nav-link.active {
    color: var(--checked-tab-color);
    border: none;
    border-bottom: 1px solid var(--checked-tab-color);
    background-color: transparent;
    font-weight: 600;
  }

}

.pmm-tabset--theme-details {

  .nav.nav-tabs {
    border-bottom: 1px solid var(--main-border-color);
  }

  .nav.nav-tabs .nav-item {
    width: auto;
  }

  .nav.nav-tabs .nav-item .nav-link {
    padding: 0 10px;
  }
}

.pmm-grafana-tabset {
  --tabset-border-color: rgb(31, 31, 31);
  --start-border-gradient: rgb(250, 209, 73);
  --end-border-gradient: rgb(175, 52, 37);
  --border-width: 2px;
  --border-radius: 0.25rem;

  .nav-tabs {
    z-index: -1;
    margin-bottom: calc(var(--main-bottom-indent) / 2);
    border-bottom: var(--border-width) solid var(--tabset-border-color);
    -webkit-box-shadow: inset 0 -6px 13px -5px rgba(31,31,31,1);
    -moz-box-shadow: inset 0 -6px 13px -5px rgba(31,31,31,1);
    box-shadow: inset 0 -6px 13px -5px rgba(31,31,31,1);

    .nav-item {
      position: relative;
      overflow: hidden;
      margin-bottom: calc(var(--border-width) * -1);
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    .nav-link {
      z-index: 1;
      color: white;
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &.active {
        border-left: var(--border-width) solid var(--tabset-border-color);
        border-right: var(--border-width) solid var(--tabset-border-color);
        border-bottom: var(--border-width) solid var(--page-background);
        background-color: var(--page-background);

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';

          width: 100%;
          border-width: var(--border-width);
          border-style: solid;
          border-image: linear-gradient(to right, var(--start-border-gradient), var(--end-border-gradient)) 1;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
        }
      }
    }
  }
}
