.unit:after {
  margin-left: 3px;
  font-size: inherit;
  color: inherit;
}

.unit--percent:after {
  content: '%';
  margin-left: 0;
}

.unit--avg:after {
  content: 'avg';
}

.unit--avg-load:after {
  content: '(avg load)';
}

.unit--qps:after {
  content: 'QPS';
}

.unit--per-sec:after {
  content: '(per sec)';
}

.unit--load:after {
  content: 'load';
}
