:root {
  --accordion-inner-indent: 15px;
  --main-bottom-indent: 20px;
  --lr-config-menu-indent: 15px;
  --tb-config-menu-indent: 10px;
  --qan-search-height: 38px;
  --filter-row-height: 50px;
  --input-lr-inner-indent: 1rem;
  --min-qan-height: 471px;
  --main-font-size: 14px;
}
