version: "3"

services:
  grafana:
    image: grafana/grafana
    ports:
    - "3000:3000"
    volumes:
    - ./dist:/var/lib/grafana/plugins/jdbranham-diagram-panel
    environment:
    - TERM=linux
