.query-analytics-grid {
  display: grid;
  grid-template-areas: 'filters data';
  grid-template-rows: 1000px;
  grid-template-columns: 240px auto;
  grid-gap: 10px;
  //height: 100vh;
  //width: 100vw;
  margin: 0;
}

#query-analytics-search {
  grid-area: search;
}

#query-analytics-filters {
  grid-area: filters;
}

#query-analytics-data {
  grid-area: data;
}

#query-analytics-details {
  grid-area: details;
}

.splitter-wrapper {
  height: 1000px;
}

#query-analytics-data .gutter {
  background-color: darkgray;
}
