.query-analytics-grid {
  display: grid;
  grid-template-areas: 'search search search' 'overview overview overview' 'details details details';
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% auto 15%;
  grid-gap: 10px;
  //height: 100vh;
  //width: 100vw;
  margin: 0;
}

#query-analytics-search {
  grid-area: search;
}

#query-analytics-filters {
  grid-area: filters;
}

#query-analytics-overview {
  grid-area: overview;
}

#query-analytics-details {
  grid-area: details;
}
