.query-analytics-grid {
  display: grid;
  grid-template-areas: 'filters data';
  grid-template-rows: auto;
  grid-template-columns: 240px auto;
  grid-gap: 10px;
  margin: 0;
  margin-top: 10px;
}

#query-analytics-search {
  grid-area: search;
}

.overview-filters {
  grid-area: filters;
}

.query-analytics-data {
  grid-area: data;
}

#query-analytics-details {
  grid-area: details;
}

.Resizer {
  background-color: #626262;
  opacity: 1;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 12px;
  margin: -5px 0;
  cursor: row-resize;
  width: 100%;
  z-index: 1000;
  position: relative;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.Resizer.horizontal:after {
  content: '\f0d7';
  position: absolute;
  top: -1px;
  left: 49%;
}
.Resizer.horizontal:before {
  content: '\f0d8';
  position: absolute;
  top: -7px;
  left: 49%;
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.ant-pagination-total-text {
  margin-right: 0 !important;
}
