.query-analytics-grid {
  display: grid;
  grid-template-areas: 'filters data';
  grid-template-rows: auto;
  grid-template-columns: 240px auto;
  grid-gap: 10px;
  margin: 0;
}

#query-analytics-search {
  grid-area: search;
}

#query-analytics-filters {
  grid-area: filters;
}

#query-analytics-data {
  grid-area: data;

  .gutter {
    background-color: #626262;
    cursor: ns-resize;
    height: 10px;
  }
}

#query-analytics-details {
  grid-area: details;
}
