.group-by-selector {
  font-size: 16px !important;
  color: rgba(255, 255, 255, 0.8);

  .ant-select-selection {
    background-color: transparent !important;
    border: none;
  }

  .ant-select-selection__rendered {
    margin-left: 5px;
  }

  .ant-select-arrow {
    display: none;
  }

  .ant-select-selection-selected-value {
    text-decoration: underline;
  }
}

.group-by-selector-dropdown {
  min-width: 150px;
}
