#inventory-wrapper {
  margin-top: 10px;
  width: 100%;

  .pmm-settings-panel .ant-collapse-header {
    color: white !important;
  }

  .pmm-settings-panel .ant-slider-mark-text {
    color: white;
  }
}

.other-details-wrapper {
  display: flex;
  flex-direction: column;
}
