#antd {
  .pmm-settings-panel .ant-collapse-header {
    color: white !important;
  }

  .pmm-settings-panel .ant-slider-mark-text {
    color: white;
  }
}

.panel-container--no-title {
  height: auto;
  min-height: 400px;
  padding: 0px 20px;
}
