<style>
    #pmm-update-widget .btn-block {
        width: 100%;
    }

    #pmm-update-widget .text-primary {
        color: #00729b;
        cursor: pointer;
    }

    #pmm-update-widget .text-primary:hover {
        color: #005f81;
    }
</style>
<div id="pmm-update-widget">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
            Current version:
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <i class="fa fa-spinner fa-spin" ng-if="!version"></i>
            {{version}}
        </div>
    </div>
    <div class="row" ng-if="shouldBeUpdated">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
            Available version:
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <strong>{{nextVersion}}</strong>
        </div>
    </div>
    <div class="row" ng-if="shouldBeUpdated">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 offset-xs-6 offset-sm-6 offset-md-6 offset-lg-6 offset-xl-6">
            <a href="https://www.percona.com/doc/percona-monitoring-and-management/release-notes/{{linkVersion}}.html" class="text-primary" target="_blank">What's new?</a>
        </div>
    </div>
    <div class="row" style="height: 2em;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 offset-xs-6 offset-sm-6 offset-md-6 offset-lg-6 offset-xl-6">
            <em class="text-error">{{errorMessage}}</em>
        </div>
    </div>
    <div class="row btn-holder" ng-show="!shouldBeUpdated">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button class="btn btn-inverse btn-block"
                    ng-disabled="!version"
                    ng-click="checkForUpdate()">Check for updates manually
                <i class="fa fa-spinner fa-spin" ng-if="isLoaderShown"></i>
            </button>
        </div>
    </div>
    <div class="row btn-holder" ng-if="shouldBeUpdated">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button class="btn btn-secondary btn-block" ng-click="update()"><i class="fa fa-download"></i> Update to
                {{nextVersion}}
            </button>
        </div>
    </div>
</div>
