<style>
    .pre-scrollable {
        height: 200px;
        overflow-y: scroll;
    }

    .pre-scrollable pre {
        border-radius: 0px;
        color: darkgrey;
        background-color: #292929;
        font-size: 0.6em;
        border: none;
    }

    .output-content {
        background-color: #1f1d1d;
        padding: 1em;
    }

    .text-right {
        float: right;
    }
</style>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <h4>Update in progress <i class="fa fa-spinner fa-spin" ng-if="isLoaderShown"></i></h4>
            <div class="output-content">
                <div>
                    <i class="fa" ng-click="isOutputShown = !isOutputShown"
                       ng-class="{'fa-chevron-down': !isOutputShown, 'fa-chevron-up':isOutputShown}"></i>
                    <span>Log</span>
                    <span class="text-secondary text-primary text-right" ng-click="copyToClipboard()"><u>Copy to clipboard</u></span>
                </div>

                <div class="pre-scrollable output-value" ng-if="output && output.length && isOutputShown">
                    <pre>{{ output }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
