.query-tooltip {
  max-width: 100%;
  background: #141619;
}

.query-tooltip .ant-tooltip-content {
  width: 600px;
  box-sizing: border-box;

  /* Popup shadow */
  box-shadow: 0px 2px 10px rgba(50, 116, 217, 0.25);
  border-radius: 2px;
}

.query-tooltip .ant-tooltip-inner {
  background-color: transparent;
  border-radius: 2px;
  padding: 0;
}

.query-tooltip .ant-tooltip-arrow:before {
  background-color: transparent;
}
