.breadcrumb-container {
  padding: 4px 12px;
  margin-bottom: 10px;
  list-style: none; }
  .breadcrumb-container > li {
    display: inline-block; }
  .breadcrumb-container > li > svg {
    fill: #636363;
    margin: 0 10px; }
  .breadcrumb-container > li:last-child > svg {
    display: none; }
