/* You can add global styles to this file, and also import other style files */
@import 'global-styles/variables';
@import 'global-styles/fonts';
@import 'global-styles/themes/theme-dark';
@import 'global-styles/themes/theme-light';
@import 'global-styles/accordion';
@import 'global-styles/tabset';
@import 'global-styles/grid-tables';
@import 'global-styles/slinky-content';
@import 'global-styles/buttons';
@import 'global-styles/inputs';
@import 'global-styles/input-select';
@import 'global-styles/select.scss';
@import 'global-styles/scrollbar';
@import 'global-styles/checkbox';
@import 'global-styles/configuration-panel';
@import 'global-styles/search';
@import 'global-styles/switcher';
@import 'global-styles/overlay';
@import 'global-styles/pmm-tooltip';
@import 'global-styles/units';
@import 'global-styles/spinner';
@import 'global-styles/charts';
@import 'global-styles/app-tooltip';
@import 'global-styles/badge';
@import 'global-styles/not-used';

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  #antd {
    font-family: var(--main-qan-font), Arial, inherit, sans-serif;
    color: var(--main-text-color, rgb(211, 211, 211)) !important;
    background-color: var(--page-background, transparent);
  }
}

.panel-container.panel-container--no-title {
  background-color: var(--page-background);
}

.bar {
  stroke: none;
  fill: #6ed0e0;
}

.tick {
  opacity: 0;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
}

app-json-tree {
  width: 100%;
}

pre,
label {
  margin-bottom: 0;
}

label {
  text-align: right;
}

button:active,
button:focus {
  outline: none;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  color: var(--main-text-color, rgb(211, 211, 211));
}

.pmm-logo {
  width: 30px;
  height: 30px;
}

.btn {
  border: none;
}

.highlight-content {
  color: var(--main-highlight-color);
}

.highlight-content--success {
  color: var(--success-highlight-color);
}

.cursor-pointer {
  cursor: pointer;
}

.schema {
  color: var(--color-shemas);
}

.server {
  color: var(--color-servers);
}

.username {
  color: var(--color-users);
}

.client_host {
  color: var(--color-hosts);
}

.badge {
  --color: var(--main-text-color);
  --bg-color: var(--button-title-color);
}

div[hljs] > pre {
  background: white;
  border: none;
}

@media print {
  /* FIXME: rid pagebrakes for media print*/
  body * {
    page-break-before: avoid;
  }

  h1::first-letter {
    margin-top: -10px;
  }
}

//antd style reset

#antd {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--main-text-color, rgb(211, 211, 211)) !important;
  }
}
//
//.navbar-page-btn a {
//  color: rgb(216, 217, 218) !important;
//}
