#antd {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    background-color: var(--highlight-background);
  }

  .navigation__link {
    padding: 1rem;
    color: inherit;
  }

  .navigation__link:hover {
    background-color: var(--navigation-link-hover);
    text-decoration: none;
    color: inherit;
  }

  .navigation__link:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
}
