{
  "root": false,
  "globals": {
    "actor": false,
    "After": false,
    "AfterSuite": false,
    "Before": false,
    "BeforeSuite": false,
    "by": false,
    "Data": false,
    "DataTable": false,
    "Feature": false,
    "Helper": false,
    "inject": false,
    "locate": false,
    "pause": false,
    "Scenario": false,
    "secret": false,
    "session": false,
    "within": false,
    "xScenario": false,
    "codeceptjs": false,
    "codecept_helper": false
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 110,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreUrls": true
      }
    ],
    "no-restricted-syntax": ["error", "WithStatement"],
    "guard-for-in": ["off"],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-await-in-loop": ["off"],
    "no-return-await": ["off"]
  }
}
