.button-group {
  display: flex;
}

.button-group--center-children {
  justify-content: center;
}

.button-group > *:not(:last-child) {
  margin-right: 15px;
}

.button {
  --inside-width: 150px;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height, 40px);
  padding: 0 .7rem;
  color: inherit;
  border: 1px solid var(--main-border-color);
  background-color: var(--page-background, transparent);
  outline: none;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button--dark {
  background-color: var(--main-button-background);
}

.button--fixed {
  position: fixed;
}

.button--inside {
  --button-height: 35px;

  max-width: var(--inside-width);
  width: 100%;
  font-size: .9rem;
}

.button--inside-active {
  background-color: var(--highlight-background);
}

.button--expand {
  right: var(--accordion-inner-indent);
}

.button__remove {
  margin-left: 10px;
}
