.manage-columns {
  .ant-select-selection__rendered {
    margin: 0;
  }

  .ant-select-selection {
    background-color: transparent !important;
    border: none;
  }
}

#antd .add-column-wrapper {
  background-color: rgba(47, 47, 50, 0.5);
  boxshadow: rgba(255, 255, 255, 0.1) -1px -1px 0px 0px, rgba(0, 0, 0, 0.3) 1px 1px 0px 0px;

  .fields__select-field .ant-slider-mark-text {
    color: white;
  }

  .fields__select-field .ant-select-selection__rendered,
  .fields__select-field .ant-select-selection {
    background-color: rgb(20, 20, 20);
    border-radius: 0;
  }

  .fields__select-field .ant-select-selection {
    border: 1px solid rgb(40, 40, 40);
  }

  .fields__select-field .ant-select-focused .ant-select-selection__rendered,
  .fields__select-field .ant-select-focused .ant-select-selection {
    background-color: rgb(20, 20, 20);
  }
  .fields__select-field .ant-select-selection-selected-value {
    color: white;
  }

  .fields__select-field .ant-select-arrow {
    color: white;
  }
  .ant-select-selection--single {
    height: 40px;
  }
  .ant-select-dropdown-menu {
    margin-bottom: 0;
  }
}

.add-column-wrapper {
  .ant-empty {
    margin-top: 16px;
    text-align: center;
  }
}

.manage-columns .ant-select-selection__placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline !important;
}
.manage-columns .ant-select-selection {
  border: none !important;
}

.add-columns .ant-select-selection {
  border: none !important;
}

.ant-select-dropdown,
li.ant-select-dropdown-menu-item {
  background-color: #3d3d3d;
  color: white;
  border-radius: 0;
}

.fields__select-field .ant-select-dropdown-menu-item-active .select-item {
  background-color: #cccccc;
}
