.meter {
  height: 4px;
  width: 100px;
  position: relative;
  background: #555;
  border-radius: 1px;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: rgba(223, 159, 85, 0.8);
  position: relative;
  overflow: hidden;
}
