.overview-content-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//.overview-main-column {
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//  //max-width: 400px;
//  //width: 400px;
//}

.selected-overview-row {
  background-color: #234682;
}

.ant-table-column-sorter-inner {
  display: flex;
  flex-direction: column;
}
