.overview-content-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-overview-row {
  background-color: #234682;
}

.ant-table-column-sorter-inner {
  display: flex;
  flex-direction: column;
}

.overview-column-toolkit {
  max-width: 100%;
  background: #141619;
}

.overview-column-toolkit .ant-tooltip-content {
  width: 300px;
  //border: 1px solid #666666;
  box-sizing: border-box;

  /* Popup shadow */
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.25);
  border-radius: 2px;
}

.overview-column-toolkit .ant-tooltip-inner {
  background-color: darkgray;
  border-radius: 2px;
}

.overview-column-toolkit .ant-tooltip-arrow:before {
  background-color: darkgray;
}

//selects styling
.ant-table-column-sorters {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.ant-table-header-column {
  width: 100% !important;
}

.ant-table-column-title {
  width: 100% !important;
}
