.overview-main-column {
  cursor: pointer;
}

.overview-content-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selected-overview-row {
  background-color: #234682;
}

.ant-table-column-sorter-inner {
  display: flex;
  flex-direction: column;
}

.overview-column-tooltip {
  max-width: 100%;
  background: #141619;
}

.overview-column-tooltip .ant-tooltip-content {
  width: 260px;
  box-sizing: border-box;

  /* Popup shadow */
  box-shadow: 0px 2px 10px rgba(50, 116, 217, 0.25);
  border-radius: 2px;
}

.overview-column-tooltip .ant-tooltip-inner {
  background-color: #3274d9;
  border-radius: 2px;
  padding: 0;
}

.overview-column-tooltip .ant-tooltip-arrow:before {
  background-color: #3274d9;
}

//selects styling
.ant-table-column-sorters {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.ant-table-header-column {
  width: 100% !important;
}

.ant-table-column-title {
  width: 100% !important;
}
