.overview-content-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-overview-row {
  background-color: #234682;
}

.ant-table-column-sorter-inner {
  display: flex;
  flex-direction: column;
}
