.breadcrumb-container {
    padding: 4px 12px;
    margin-bottom: 10px;
    list-style: none;
    & > li {
        display: inline-block;
    }
    & > li > svg {
        fill: #636363;
        margin: 0 10px;
    }
    & > li:last-child > svg {
        display: none;
    }
}
