div.editor-row
  div.section.gf-form-group
    h5.section-heading Breadcrumb Panel Options
    div.gf-form
      gf-form-switch(label="Is root dashboard" checked="ctrl.panel.isRootDashboard" label-class="width-13").gf-form
    div.gf-form
      gf-form-switch(label="Hide text in root dashboard" checked="ctrl.panel.hideTextInRootDashboard" label-class="width-13").gf-form
    div.gf-form
      label.gf-form-label.width-18 Limit the amount of breadcrumb items to
      input(type="text" ng-model="ctrl.panel.breadcrumbItemsMaxAmount").input-small.gf-form-input.width-5
