$fill-default: #cde498;
$path-default: green;
$stroke-default: #13540c;
$text-color: #333;
$text-fill: #333;
$label-bg-color: #e8e8e8;
$cluster-fill: #cdffb2;
$cluster-stroke: #6eaa49;
$message-stroke: #777;
$message-fill: #D8D9DA;
$task-fill: #487e3a;

.diagram-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.diagram {
	overflow: auto;
	flex-grow: 1;
}

.diagram-legend .graph-legend {
    overflow-x: auto;
}

.diagram-legend {
	display: flex;
	flex-direction: column;
}

.graph-legend {
	flex-grow: 1;
	max-height: unset;
}

.diagram .label, .diagram .edgeLabel {
    text-shadow: none; /** prevent shadow from grafana css **/
	padding: 2px;
}

.gradient-values-container .gradient-value-max {
	float: right;
}

.diagram g.label div {
	color: $text-color;
	width: 100%;
	text-align: center;
}

.diagram div p {
	text-align: center;
}

.diagram svg {
	margin: auto;
	display: block;
}

g.node > * {
  fill: white;
}

svg > g {
	overflow: visible;
	display: block;
}

.diagram-value {
	background-color: white;
	padding: 3px;
	text-align: center;
}

/* Flowchart variables */
/* Sequence Diagram variables */
/* Gantt chart variables */
.mermaid .label {
  font-family: 'trebuchet ms', verdana, arial;
  color: $text-color;
}

/* For edgeLabels */
.diagram g > foreignObject {
	overflow: visible;
}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: $fill-default;
  stroke: $stroke-default;
  stroke-width: 1px;
}
.edgePath .path, path.path {
  stroke: $path-default !important;
  stroke-width: 1.5px;
}
.edgeLabel {
  background-color: $label-bg-color;
}
.cluster rect {
  fill: $cluster-fill !important;
  rx: 4  !important;
  stroke: $cluster-stroke !important;
  stroke-width: 1px !important;
}
.cluster text {
  fill: $text-color;
}
.actor {
  stroke: $stroke-default;
  fill: $fill-default;
}
text.actor {
  fill: black;
  stroke: none;
}
.actor-line {
  stroke: grey;
}
.messageLine0 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: $path-default;
}
.messageLine1 {
  stroke-width: 1.5;
  stroke-dasharray: "2 2";
  stroke: $path-default;
}
#arrowhead {
  fill: $path-default;
}
#crosshead path {
  fill: $path-default !important;
  stroke: $path-default !important;
}
.messageText {
  fill: $message-fill;
  stroke: none;
}
.labelBox {
  stroke: #326932;
  fill: $fill-default;
}
.labelText {
  fill: black;
  stroke: none;
}
.loopText {
  fill: $message-fill;
  stroke: none;
}
.loopLine {
  stroke-width: 2;
  stroke-dasharray: "2 2";
  marker-end: "url(#arrowhead)";
  stroke: #326932;
}
.note {
  stroke: $cluster-stroke;
  fill: #fff5ad;
}
.noteText {
  fill: black;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}
/** Section styling */
.diagram .section {
  stroke: none;
  opacity: 0.2;
}
.section0 {
  fill: $cluster-stroke;
}
.section2 {
  fill: $cluster-stroke;
}
.section1,
.section3 {
  fill: white;
  opacity: 0.2;
}
.sectionTitle0 {
  fill: $text-color;
}
.sectionTitle1 {
  fill: $text-color;
}
.sectionTitle2 {
  fill: $text-color;
}
.sectionTitle3 {
  fill: $text-color;
}
.sectionTitle {
  text-anchor: start;
  font-size: 11px;
  text-height: 14px;
}
/* Grid and axis */
.grid .tick {
  stroke: lightgrey;
  opacity: 0.3;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
/* Today line */
.today {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
/* Task styling */
/* Default task */
.task {
  stroke-width: 2;
}
.taskText {
  text-anchor: middle;
  font-size: 11px;
}
.taskTextOutsideRight {
  fill: black;
  text-anchor: start;
  font-size: 11px;
}
.taskTextOutsideLeft {
  fill: black;
  text-anchor: end;
  font-size: 11px;
}
/* Specific task settings for the sections*/
.taskText0,
.taskText1,
.taskText2,
.taskText3 {
  fill: white;
}
.task0,
.task1,
.task2,
.task3 {
  fill: $task-fill;
  stroke: $stroke-default;
}
.taskTextOutside0,
.taskTextOutside2 {
  fill: black;
}
.taskTextOutside1,
.taskTextOutside3 {
  fill: black;
}
/* Active task */
.active0,
.active1,
.active2,
.active3 {
  fill: $fill-default;
  stroke: $stroke-default;
}
.activeText0,
.activeText1,
.activeText2,
.activeText3 {
  fill: black !important;
}
/* Completed task */
.done0,
.done1,
.done2,
.done3 {
  stroke: grey;
  fill: lightgrey;
  stroke-width: 2;
}
.doneText0,
.doneText1,
.doneText2,
.doneText3 {
  fill: black !important;
}
/* Tasks on the critical line */
.crit0,
.crit1,
.crit2,
.crit3 {
  stroke: #ff8888;
  fill: red;
  stroke-width: 2;
}
.activeCrit0,
.activeCrit1,
.activeCrit2,
.activeCrit3 {
  stroke: #ff8888;
  fill: $fill-default;
  stroke-width: 2;
}
.doneCrit0,
.doneCrit1,
.doneCrit2,
.doneCrit3 {
  stroke: #ff8888;
  fill: lightgrey;
  stroke-width: 2;
  cursor: pointer;
  shape-rendering: crispEdges;
}
.doneCritText0,
.doneCritText1,
.doneCritText2,
.doneCritText3 {
  fill: black !important;
}
.activeCritText0,
.activeCritText1,
.activeCritText2,
.activeCritText3 {
  fill: black !important;
}
.titleText {
  text-anchor: middle;
  font-size: 18px;
  fill: black;
}
/*


*/
g.classGroup text {
  fill: $stroke-default;
  stroke: none;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}
g.classGroup rect {
  fill: $fill-default;
  stroke: $stroke-default;
}
g.classGroup line {
  stroke: $stroke-default;
  stroke-width: 1;
}
svg .classLabel .box {
  stroke: none;
  stroke-width: 0;
  fill: $fill-default;
  opacity: 0.5;
}
svg .classLabel .label {
  fill: $stroke-default;
}
.relation {
  stroke: $stroke-default;
  stroke-width: 1;
  fill: none;
}
.composition {
  fill: $stroke-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#compositionStart {
  fill: $stroke-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#compositionEnd {
  fill: $stroke-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
.aggregation {
  fill: $fill-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#aggregationStart {
  fill: $fill-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#aggregationEnd {
  fill: $fill-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#dependencyStart {
  fill: $stroke-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#dependencyEnd {
  fill: $stroke-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#extensionStart {
  fill: $stroke-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
#extensionEnd {
  fill: $stroke-default;
  stroke: $stroke-default;
  stroke-width: 1;
}
.node text {
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 14px;
}
div.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 12px;
  background: $cluster-fill;
  border: 1px solid $cluster-stroke;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}
