.overview-column-tooltip {
  max-width: 100%;
  background: #141619;
}

.overview-content-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  width: 100%;

  .overview-column-sparkline {
    margin-right: auto;
  }
}
