.query-analytics-overview-grid {
  display: grid;
  grid-template-areas:
    'add-column add-column'
    'overview-filters overview-table';
  grid-template-rows: 30px auto;
  grid-template-columns: 250px auto;
  grid-gap: 10px;
  height: auto;
  //height: 600px;
  margin: 0;
}

.add-column {
  grid-area: add-column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.overview-filters {
  grid-area: overview-filters;
  height: auto;
}

.overview-table {
  grid-area: overview-table;
}
