.query-analytics-grid {
  display: grid;
  grid-template-areas: 'filters data';
  grid-template-rows: auto;
  grid-template-columns: 240px auto;
  grid-gap: 10px;
  margin: 0;
  margin-top: 10px;
  background-color: transparent !important;
}

#query-analytics-search {
  grid-area: search;
}

.overview-filters {
  grid-area: filters;
}

.query-analytics-data {
  grid-area: data;
}

.query-analytics-details {
  grid-area: details;
}

.Resizer {
  background-color: #626262;
  opacity: 1;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 12px;
  margin: -5px 0;
  cursor: row-resize;
  width: 100%;
  z-index: 1000;
  position: relative;
}

.Resizer.horizontal:before,
.Resizer.horizontal:after {
  border: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 50%;
  top: 50%;
  position: absolute;
  width: 0;
}
.Resizer.horizontal:before {
  border-bottom-color: rgba(255, 255, 255, 0.8);
  margin-top: -9px;
}
.Resizer.horizontal:after {
  border-top-color: rgba(255, 255, 255, 0.8);
  margin-top: 1px;
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.ant-pagination-total-text {
  margin-right: 0 !important;
}
