{ 
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "jsx-a11y"
  ],
  "overrides": [
    {
      "files": ["*.jsx", "*.js"],
      "rules": {
        "import/prefer-default-export": "off",
        "react/prop-types": "off"
      }
    }
  ]
}
