#antd {
  .ant-slider-step {
    display: none;
  }

  .ant-slider-rail {
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    height: 10px;
  }

  .ant-slider-handle {
    height: 20px;
    width: 20px;
  }

  .ant-slider-mark {
    margin-top: 5px;
  }
}
