.query-analytics-details-grid {
  display: grid;
  grid-template-areas:
    'query-id'
    'more-details'
    'details-tabs';
  grid-template-rows: 50px 100px auto;
  grid-template-columns: auto;
  grid-gap: 10px;
  min-height: 300px;
  margin: 0;
}

.query-id {
  grid-area: query-id;
  display: flex;
  align-items: flex-start;
}

.details-tabs {
  grid-area: details-tabs;
}

.more-details {
  grid-area: more-details;
}

.details-table {
  display: grid;
  grid-template-areas: 'details-table-content details-filters';
  grid-template-rows: 600px;
  grid-template-columns: auto 200px;
  grid-gap: 10px;
  //height: 600px;
  margin: 0;
}

.details-table-content {
  grid-area: details-table-content;
}

.details-filters {
  grid-area: details-filters;
}

.query-identifier {
  display: flex;
  justify-content: space-between;
}


