.add-instance-form {
  margin: 0 auto;
  display: block;
  align-items: baseline;
  max-width: 1000px;
  width: 100%;
  padding: 10px 2% 10px 2%;
  background-color: var(--element-background);

  .add-instance-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 100%;
    margin-bottom: 1em;

    .full-row {
      grid-column: 1 / 3;
    }
  }
  .add-instance-panel.one-column > * {
    grid-column: 1 / 3;
  }

  a.button {
    float: left;
  }

  .description {
    line-height: 40px;
    vertical-align: middle;
    margin-left: 10px;
  }
  .description.custom-labels {
    white-space: pre-wrap;
    line-height: normal;
  }

  .radio-label {
    margin-left: 10px;
    margin-right: 20px;
  }
}

//::ng-deep .ng-select.pmm-select.pmm-select--inventory {
//  .ng-select-container {
//    background-color: var(--page-background);
//  }
//
//  .ng-dropdown-panel {
//    width: 100%;
//  }
//}

.add-instance-form__title,
.add-instance-form__submit-block {
  grid-column: 1 / 3;
}

.add-instance-form__submit-block {
  display: flex;
  align-items: center;
}

.add-instance-form__submit-block > *:first-child {
  margin-right: 15px;
}

.input-field {
  height: 40px;
  font-weight: 300;
}

.input-field--textarea {
  height: 100px;
  font-weight: 300;
}

.input-field--checkbox {
  height: 20px;
}

.additional-options-wrapper {
  display: flex;
  align-items: baseline;
}
