.query-analytics-details-grid {
  display: grid;
  grid-template-areas:
    'query-id'
    'details-tabs';
  grid-template-rows: 30px auto;
  grid-template-columns: auto;
  //grid-gap: 10px;
  min-height: 30px;
  height: auto;
  margin: 0;
}

.query-id {
  grid-area: query-id;
  display: flex;
  align-items: flex-start;
}

.details-tabs {
  grid-area: details-tabs;
}

.metrics-wrapper .ant-table-body {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
