.selected-overview-row {
  td {
    background-color: #234682 !important;
  }
}

.ant-table-column-sorter-inner {
  display: flex;
  flex-direction: column;
}

.ant-table-column-sorters {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.ant-table-header-column {
  width: 100% !important;
}

.ant-table-column-title {
  width: 100% !important;
}

.table-wrapper {
  width: 100% !important;
}
