name: Test

on: pull_request

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run with Node 22
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
          cache-dependency-path: pmm-app/yarn.lock

      - name: Install deps
        run: make prepare_release

      - name: Build Grafana Dashboards
        run: make build_package

      - name: Upload the build artefacts
        uses: actions/upload-artifact@v4
        with:
          name: build-dist
          path: pmm-app/dist/
          if-no-files-found: error

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run with Node 22
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "yarn"
          cache-dependency-path: pmm-app/yarn.lock
    
      - name: Install deps
        run: make prepare_release

      - name: Run lint
        run: cd pmm-app && yarn lint:check

      - name: Run unit tests
        run: cd pmm-app && yarn test:ci

      - name: Upload unit test coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          flags: unittests # optional
          name: codecov-umbrella
          token: ${{ secrets.CODECOV_GRAFANA_DASHBOARDS_TOKEN }}
          verbose: true

  workflow_success:
    needs: [unit_tests, build]
    name: Slack Notification success
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK: ${{ secrets.SLACK_TOKEN }}
      SLACK_CHANNEL: "pmm-ci"
      SLACK_USERNAME: "PR bot"
      SLACK_ICON_EMOJI: ":octocat:"
      SLACK_COLOR: "#00FF00"
      SLACK_MESSAGE: "Workflow succeded: ${{ github.event.inputs.repo || github.repository }}:${{ github.event.inputs.branch || github.head_ref }}"
      SLACK_FOOTER: "Please check the Actions URL ^"

    steps:
      - uses: actions/checkout@v4
      - name: Slack Notification
        uses: percona/gh-action-action-slack-notify@v2

  workflow_failure:
    if: ${{ failure() }}
    needs: [unit_tests, build]
    name: Slack Notification failure
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK: ${{ secrets.SLACK_TOKEN }}
      SLACK_CHANNEL: "pmm-ci"
      SLACK_USERNAME: "PR bot"
      SLACK_ICON_EMOJI: ":octocat:"
      SLACK_COLOR: "#FF0000"
      SLACK_MESSAGE: "Workflow failed: ${{ github.event.inputs.repo || github.repository }}:${{ github.event.inputs.branch || github.head_ref }}"
      SLACK_FOOTER: "Please check the Actions URL ^"

    steps:
      - uses: actions/checkout@v4
      - name: Slack Notification
        uses: percona/gh-action-action-slack-notify@v2
