name: Grafana dashboards push checks

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:

      - name: Upload Built interface
        uses: actions/upload-artifact@v2
        with:
          name: build-dist
          path: pmm-app/dist/test/
          if-no-files-found: error

      - uses: actions/checkout@v2
      - name: Build grafana-dashboards
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Enable node_modules cache
        uses: percona-platform/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-

      - run: make prepare_release
      - run: make build_package

      - name: Upload Built interface
        uses: actions/upload-artifact@v2
        with:
          name: build-dist
          path: pmm-app/dist/
          if-no-files-found: error

  e2e:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Run e2e tests and upload artifacts
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Download built packages
        uses: actions/download-artifact@v2
        with:
          name: build-dist
          path: pmm-app/dist/

      - name: Enable node_modules cache
        uses: percona-platform/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-

      - run: make prepare_release
      - run: make docker_clean
      - run: make e2e_local

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: "pmm-app/tests/output/parallel_chunk*/*.xml"
          github_token: ${{ secrets.GITHUB_TOKEN }}

  code_coverage:
    needs: build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Generate and upload code coverage
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_GRAFANA_DASHBOARDS_TOKEN }}

      - name: Download built packages
        uses: actions/download-artifact@v2
        with:
          name: build-dist
          path: pmm-app/dist/

      - name: Enable node_modules cache
        uses: percona-platform/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-yarn-

      - run: make prepare_release
      - run: make generate_coverage

  workflow_success:
    if: ${{ success() }}
    needs: [e2e, code_coverage, build]
    name: Slack Notification success
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK: ${{ secrets.SLACK_TOKEN }}
      SLACK_CHANNEL: "pmm-ci"
      SLACK_USERNAME: "PR pipelines bot"
      SLACK_ICON_EMOJI: ":chestnut:"
      SLACK_COLOR: "#00FF00"
      SLACK_TITLE: "Finished grafana-dashboards workflow"
      SLACK_MESSAGE: "${{ github.event.inputs.repo || github.repository }}:${{ github.event.inputs.branch || github.head_ref }}"
      SLACK_FOOTER: "Please check the Actions URL ^"

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - name: Slack Notification
        uses: percona-platform/action-slack-notify@v2


  workflow_failure:
    if: ${{ failure() }}
    needs: [e2e, code_coverage, build]
    name: Slack Notification failure
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK: ${{ secrets.SLACK_TOKEN }}
      SLACK_CHANNEL: "pmm-ci"
      SLACK_USERNAME: "PR pipelines bot"
      SLACK_ICON_EMOJI: ":chestnut:"
      SLACK_COLOR: "#FF0000"
      SLACK_TITLE: "Finished grafana-dashboards workflow"
      SLACK_MESSAGE: "Workflow failed: ${{ github.event.inputs.repo || github.repository }}:${{ github.event.inputs.branch || github.head_ref }}"
      SLACK_FOOTER: "Please check the Actions URL ^"

    steps:
      - uses: actions/checkout@v2
      - name: Slack Notification
        uses: percona-platform/action-slack-notify@v2



